.dropdown{
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:azure;
    min-width: 100px;
    padding: 10px 10px;
    z-index: 1;
    right: 0;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }

 ul.dropdown-menu, li.menu-item a{
    padding: 0;
    margin: 0;
  }

  .dropdown a{
    font-size: 20px;
  }

  button.remove-btn, button.checkout{
    width: 60px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
  }

.empty_cart-btn{
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
}

div.checkout{
    text-align: center;
    margin-top: 15px;
  }

  button.continue_shopping-btn{
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 35px;
  }

  a.login-btn-submit{
    text-decoration: none;
  }